* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.navbar  {
    background-color:lightgrey;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:  20px;
    height: 60px;
    z-index:3;
    top:0;
    
   
}

.navbar-container {
    justify-content: space-between;
    padding: 20px;
}
#navbar_logo {
    background-color:antiquewhite;
    background-clip: text;