* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    
}

.navbar  {
    background-color:rgb(255, 255, 255);
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:  20px;
    height: 60px;
    z-index:3;
    top:0;  
    border-bottom: solid;
    border-width:1px;
    border-color:transparent;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar-container {
    justify-content: space-between;
    padding: 20px;
     
}
#navbar_logo {
    background-color:rgb(44, 44, 44);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    
}
ul {
    display:flex;
    align-items: center;
    list-style: none;
    text-align:center;
     
     
}
.navbar_links {
    color:black;
    padding: 20px;
    text-decoration: none;
}